:root {
    --ada-blue: #336178;
    --ada-red: #ae485e;
    --gruvbox-bg: #282828;
    --gruvbox-fg: #ebdbb2;
    --gruvbox-red: #fb4934;
    --gruvbox-green: #b8bb26;
    --gruvbox-yellow: #fabd2f;
    --gruvbox-blue: #83a598;
    --gruvbox-purple: #d3869b;
    --gruvbox-aqua: #8ec07c;
    --gruvbox-gray: #a89984;
    --gruvbox-dark-red: #cc241d;
    --gruvbox-dark-green: #98971a;
    --gruvbox-dark-yellow: #d79921;
    --gruvbox-dark-blue: #458588;
    --gruvbox-dark-purple: #b16286;
    --gruvbox-dark-aqua: #689d6a;
    --gruvbox-dark-gray: #928374;

}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 100vh; 
    text-align: justify;
}

body.dark-theme{
    background-color: #282828;
    color: white;
}

h2 {
    color: var(--ada-red);
    font-size: 35px;
    text-align: center;
}

#logo{
    width: 100px;
    height: auto;
    display: inherit;
}

.About-Us{
    margin-top: 90px;
    color: var(--ada-blue);
}

.About-Us h2{
    font-size: 40px;
    text-align: center;
    display: block
}

.About-Us p{
    font-size: 20px;
    max-width: 1100px;
    min-width: 600px;
    text-align: justify;
    margin: auto;
    text-indent: 40px;
    line-height: 160%;
}

.dark-theme .About-Us p {
    color: #95dff5;
}

.TeamSection h2 {
    margin-bottom: 0px;
}

.dark-theme h1, .dark-theme h2, .dark-theme h3 {
    color: #ff8080;
}

.TeamSection p{
    color: rgba(0, 0, 0, 0.515);
    text-align: center;
    margin-top: 1px;
}

.dark-theme .TeamSection p{
    color: rgba(255, 255, 255, 0.815)
}

.projects ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.projects li{
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--ada-blue);
    color: white;
    font-size: 20px;
    width: 300px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 10px;
}

a {
    color: white; 
    text-decoration: none;      
    font-weight: bold;         
    text-align: center;
}

a:hover {
    color: rgba(255, 255, 255, 0.815);   
    text-decoration: underline;      
}

a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: white;
    text-decoration: none;
}

#team-text{
    margin-top: 20px;
    font-size: 40px;
    color: var(--ada-blue);
    text-align: center;
}

.divider {
    border: 0;
    height: 1px;
    background: var(--gruvbox-gray);
    margin: 20px 0;
}

/* this is the main container for the members */

.Members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#Mubariz, #Aykhan, #Rubaba, #Arhan{
    display: flex;
    flex-direction: column;
    justify-content: top;
    vertical-align: middle;
    width: 300px;
    height: auto;
    text-align: inherit;
    color: var(--dark-blueish); 
    margin: 10px 20px 0 0;
    border-radius: 3%;
}

h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ada-red);
    margin: 0;
    padding-top: 20px; 
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; 
    width: 80%; 
    gap: 10px; 
}

.card {
    width: 40%; 
    height: 400px; 
    perspective: 1000px; 
    cursor: pointer; 
    transition: transform 0.4s; 
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.4s;
}

.front {
    background-color: var(--ada-blue);
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    font-size: 2.5em; 
    
}

.back {
    background-color:var(--ada-red);
    color: #ffffff;
    transform: rotateY(180deg); 
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem; 
}

.dark-theme .card .front {
    color: #282828;
    background-color: #95dff5;
}

.dark-theme .card .back {
    color: #282828;
    background-color: #ff8080;
}

.card-container .front {
    color: white;
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

.photos-section {
    margin-top: 50px;
    text-align: center;
    width: 80%;
}

.photos-section h2 {
    font-size: 2.5rem;
    color: var(--ada-red);
    margin-bottom: 20px;
}

.dark-theme .photos-section h2 {
    color: #ff8080;
}

.photos-section p {
    font-size: 20px;
    max-width: 1100px;
    min-width: 600px;
    text-align: justify;
    margin: auto;
    text-indent: 40px;
    line-height: 160%;
    margin-bottom: 20px;
    color: var(--ada-blue);
}

.dark-theme .photos-section p {
    color: #95dff5;
}

.photos-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.photo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--ada-blue);
    padding: 10px;
    border-radius: 8px;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.photo p {
    font-size: 1.2rem;
    color: var(--ada-blue);
}

.details p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: justify;
}


.content-section {
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    margin: 0 auto;
    padding-top: 150px; 
    width: 100%;
}

.dark-theme .content-section p{
    color: #95dff5;
}

.image-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-right: 20px; 
}

.image-column img {
    width: 300px; 
    height: auto;
    margin-bottom: 20px; 
    border-radius: 10px; 
}


.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 600px; 
}

.text-column p {
    font-size: 1.3rem; 
    margin-bottom: 20px; 
    text-align: left; 
    line-height: 1.6; 
    color: var(--ada-blue)
}


@media (max-width: 768px) {
    .content-section {
        flex-direction: column; 
    }
    .image-column {
        align-items: center; 
        margin-right: 0; 
    }
    .text-column {
        align-items: center; 
        text-align: center;
    }

}
.section-heading {
    font-size: 3.5rem; 
    text-align: center; 
    margin: 80px auto 20px; 
    color: var(--ada-red); 
    font-weight: bold; 
}

#art-canvas {
    border: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 12.5%;
}

#art-canvas.dark-theme {
    border-color: white;
}

#LogoButton {
    text-size-adjust: auto;
    padding: 40px 100px;
    font-size: 80px;
    color: white;
    background-color: black;
}

#LogoButton.dark-theme {
    color: black;
    background-color: white;
}

#hour-of-code-color {
    color: white;
}

.dark-theme #hour-of-code-color {
    color: #282828;
}

#organize-color {
    color: white;
}

.dark-theme #organize-color {
    color: #282828;
}

h3 {
    text-align: left;
    color: var(--ada-red);
    margin-top: 40px;
    margin-bottom: 0%;
    padding-bottom: 0px;
    font-size: 130%;
}

.Web-info {
    max-width: 1100px;
    min-width: 600px;
    margin: auto;
}

.Web-info p {
    font-size: 20px;
    max-width: 1100px;
    min-width: 600px;
    text-align: justify;
    margin: auto;
    text-indent: 40px;
    line-height: 160%;
    margin-top: 5px;
    color: var(--ada-blue);
}

.Web-info h2{
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0px;
}

.dark-theme .Web-info p {
    color: #95dff5;
}