:root {
    --ada-blue: #336178;
    --ada-red: #ae485e;
    --gruvbox-bg: #282828;
    --gruvbox-fg: #ebdbb2;
    --gruvbox-red: #fb4934;
    --gruvbox-green: #b8bb26;
    --gruvbox-yellow: #fabd2f;
    --gruvbox-blue: #83a598;
    --gruvbox-purple: #d3869b;
    --gruvbox-aqua: #8ec07c;
    --gruvbox-gray: #a89984;
    --gruvbox-dark-red: #cc241d;
    --gruvbox-dark-green: #98971a;
    --gruvbox-dark-yellow: #d79921;
    --gruvbox-dark-blue: #458588;
    --gruvbox-dark-purple: #b16286;
    --gruvbox-dark-aqua: #689d6a;
    --gruvbox-dark-gray: #928374;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 100vh; 
    text-align: justify;
}

h2{
    color: var(--ada-red);
    font-size: 35px;
    text-align: center;
}

.TopMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: var(--ada-blue);
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.TopMenu p{
    font-size: 40px;
    color: var(--ada-red);
    font-weight: bold;
    margin-right: 55px;
}

.TopMenu img{
    width: 30px;
    height: 30px;
}

.TopMenu p{
    font-size: 40px;
    color: var(--ada-red);
    font-weight: bold;
}

.TopMenu p{
    font-size: 40px;
    color: var(--ada-red);
    font-weight: bold;
}

#logo{
    width: 100px;
    height: auto;
    display: inherit;
}

.About-Us{
    margin-top: 90px;
    color: var(--ada-blue);
}

.About-Us h2{
    font-size: 40px;
    text-align: center;
    display: block
}
.About-Us p{
    font-size: 20px;
    max-width: 1100px;
    min-width: 600px;
    text-align: center;
    margin: auto;

}

.projects ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.projects li{
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--ada-blue);
    color: white;
    font-size: 20px;
    width: 300px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 10px;
}

.project a {
    color: white; 
    text-decoration: none;      
    font-weight: bold;         
    text-align: center;
}
.projects a:hover {
    color: var(--gruvbox-purple);   
    text-decoration: underline;      
}


.projects a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#team-text{
    margin-top: 20px;
    font-size: 40px;
    color: var(--ada-blue);
    text-align: center;
}

/* this is the main container for the members */
.Members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#Mubariz, #Aykhan, #Rubaba, #Arhan{
    display: flex;
    flex-direction: column;
    justify-content: top;
    vertical-align: middle;
    width: 200px;
    height: 300px;
    text-align: inherit;
    color: var(--dark-blueish); 
    margin: 10px 20px 0 0;
    border-radius: 3%;
    background-size: cover;
}

/* more specific attributes for each member */
#Mubariz{
    background-image: url("/media/human.jpg");
    background-position: 23% 30%;
}

#Aykhan{
    background-image: url("/media/human.jpg");
    background-position: 23% 30%;
}

#Rubaba{
    background-image: url("/media/human.jpg");
    background-position: 23% 30%;
}

#Arhan{
    background-image: url("/media/human.jpg");
    background-position: 23% 30%;
}


h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ada-red);
    margin: 0;
    padding-top: 20px; }


.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; 
    width: 80%; 
    gap: 10px; }


.card {
    width: 40%; 
    height: 400px; 
    perspective: 1000px; 
    cursor: pointer; 
    transition: transform 0.4s; 
}


.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.4s;
}

.front {
    background-color: var(--ada-blue);
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    font-size: 2.5em; 
    
}

.back {
    background-color:var(--ada-red);
    color: #ffffff;
    transform: rotateY(180deg); 
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem; 
}


.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

.photos-section {
    margin-top: 50px;
    text-align: center;
    width: 80%;
}

.photos-section h2 {
    font-size: 2.5rem;
    color: var(--ada-red);
    margin-bottom: 20px;
}

.photos-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.photo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--ada-blue);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.photo p {
    font-size: 1.2rem;
    color: var(--ada-blue);
}

.details p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif; 
text-align: center;
}

/* Menu */
.menu-container {
    position: relative;
}

.menu-button {
    color: var(--gruvbox-fg);
    border: none;
    cursor: pointer;
    background-image: url("/media/menu.png");
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-size: 30px;
    color: rgba(0, 0, 0, 0);
    margin-right: 20px;
}

.menu-button:hover {
    opacity: 0.8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:100%;
    left: -125px;
}

.dropdown-content a {
    color: var(--ada-red);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(128, 128, 128, 0.151);
}