:root {
    --ada-blue: #336178;
    --ada-red: #ae485e;
    --gruvbox-bg: #282828;
    --gruvbox-fg: #ebdbb2;
    --gruvbox-red: #fb4934;
    --gruvbox-green: #b8bb26;
    --gruvbox-yellow: #fabd2f;
    --gruvbox-blue: #83a598;
    --gruvbox-purple: #d3869b;
    --gruvbox-aqua: #8ec07c;
    --gruvbox-gray: #a89984;
    --gruvbox-dark-red: #cc241d;
    --gruvbox-dark-green: #98971a;
    --gruvbox-dark-yellow: #d79921;
    --gruvbox-dark-blue: #458588;
    --gruvbox-dark-purple: #b16286;
    --gruvbox-dark-aqua: #689d6a;
    --gruvbox-dark-gray: #928374;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.TopMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: var(--ada-blue);
    z-index: 10;
    position: fixed;
    width: 95%;
    height: 70px;
    top: 0;
    border-bottom: gray 1px solid;
}

#logo{
    width: 100px;
    height: auto;
    display: inherit;
}

.About-Us{
    margin-top: 90px;
    color: var(--ada-blue);
}

.About-Us h2{
    font-size: 30px;
    text-align: center;
}
.About-Us p{
    font-size: 20px;
    width: 600px;
    text-align: center;
    margin: auto;
}

/* this is the main container for the members */
.Members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#Mubariz, #Aykhan, #Rubaba, #Arhan{
    display: flex;
    flex-direction: column;
    justify-content: top;
    vertical-align: middle;
    width: 200px;
    height: 300px;
    text-align: inherit;
    color: var(--dark-blueish); 
    margin: 10px 10px 0 0;
}

/* more specific attributes for each member */
#Mubariz{
    background-image: url("/media/human.jpg");
    background-size: cover;
    background-position: 23% 30%;
}

#Aykhan{
    background-image: url("/media/human.jpg");
    background-size: cover;
    background-position: 23% 30%;
}

#Rubaba{
    background-image: url("/media/human.jpg");
    background-size: cover;
    background-position: 23% 30%;
}

#Arhan{
    background-image: url("/media/human.jpg");
    background-size: cover;
    background-position: 23% 30%;
}
